<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.brandcomposer.calendar</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/osascript</string>
	<string>/Users/jackson/brandcomposer-calendar/update-calendar.scpt</string>
	</array>

	<key>StartInterval</key>
	<integer>3600</integer>

	<key>StandardOutPath</key>
	<string>/var/log/brandcomposer-calendar.log</string>

	<key>StandardErrorPath</key>
	<string>/var/log/brandcomposer-calendar-error.log</string>
</dict>
</plist>
